body {
    font-family: Arial, sans-serif;
    background-color:white;
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100vh;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
    margin: 0;
  }
  .login-container {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    justify-content: center;
    border-radius: 4px;

  }
  label {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle
}
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .login-container h6 {
    text-align: center;
    margin-bottom: 20px;
    text-emphasis-style: underline;
    -webkit-text-fill-color: #1877f2;

  }
  .login-container h1 {
    text-align: center;
    margin-bottom: 50px;
    text-align: center;
    -webkit-text-fill-color: #1877f2;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
  }
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }